.logo{position: absolute; top:-40px;max-height: 110px;}
.logo-wrap{padding:0 !important;}
.top_bar_2 {max-height: 40px !important;}
.login_wrap em.contct_2{padding: 0 !important;}
.nav_2 {padding: 10px 0 !important;}
.edu2_main_bn_wrap figure figcaption {margin: -177px auto 0 !important;}